.top{background-color: rgb(131, 155, 84);
        height: 200px;}
img{height: 170px; width: 160px;
    margin: 15px 10px 10px 10px;}
.name{padding: 10px 10px 10px 10px; width: 500px;
    background-color: olivedrab;}
.pic{width: 200px;
    margin: 10px 10px 10px 84%;}